<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>
    <h1>Hi, <%= current_user.username %></h1>
    <form action="/session" method="POST"> 
     <%= auth_token %>
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Log Out</button>
    </form>

    <% else %>
      <a href="/session/new"><button>Sign In</button></a>
    <% end %>

    <%= yield %>
  </body>
</html>
