<!DOCTYPE html>
<html>
  <head>
    <title>MusicalAttacks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# debugger %>
    <%# if self.logged_in? %>
      <button>sign out</button>
    <%# else %>
      <button>sign up</button>
      <button>sign in</button>
    <%# end %>
    <%= yield %>
  </body>
</html>
